[user]
    name = Toshiki Seto
    email = toshiki.ml@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    b = branch
    ad = add
    ci = commit -v
    st = status
    co = chechout
    f = fetch
    pr = pull --rebase
    d = diff
    dc = diff --color-words
    l = log
    ls = log --stat
    lp = log -p
